# Assignment 6: Data Wrangling with Merge, Concat, and Reshape

**Deliverable:** Completed notebook with output files in `output/`

---

## Setup

First, make sure you've generated the data by running `data_generator.ipynb`.

In [946]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
from datetime import datetime

# Verify data files exist
required_files = ['data/customers.csv', 'data/products.csv', 'data/purchases.csv']
for file in required_files:
    if not os.path.exists(file):
        raise FileNotFoundError(f"{file} not found. Run data_generator.ipynb first!")

print("✓ All data files found")

✓ All data files found

---

## Dataset Column Reference

Use this reference when writing merge operations and selecting columns. Each dataset's columns are listed below with their data types and descriptions.

**`customers.csv` columns:**
- `customer_id` - Unique ID (C001, C002, ...)
- `name` - Customer full name
- `city` - Customer city
- `signup_date` - Registration date

**`products.csv` columns:**
- `product_id` - Unique ID (P001, P002, ...)
- `product_name` - Product name
- `category` - Product category (Electronics, Clothing, Home & Garden, Books, Sports)
- `price` - Product price in dollars

**`purchases.csv` columns:**
- `purchase_id` - Unique ID (T0001, T0002, ...)
- `customer_id` - Links to customers
- `product_id` - Links to products
- `quantity` - Number of items purchased
- `purchase_date` - Purchase date
- `store` - Store location (Store A, B, or C)

---

## Question 1: Merging Datasets

### Part A: Basic Merge Operations

Load the datasets and perform merge operations.

In [947]:
# TODO: Load the three datasets
customers = pd.read_csv('data/customers.csv')
products = pd.read_csv('data/products.csv')
purchases = pd.read_csv('data/purchases.csv')

# Display first few rows of each
print("Customers:")
display(customers.head())
print("\nProducts:")
display(products.head())
print("\nPurchases:")
display(purchases.head())

Customers:

  customer_id             name           city signup_date
0        C001      George Chen       Portland  2023-01-01
1        C002    Teresa Miller     Sacramento  2023-01-04
2        C003  Diana Rodriguez    Los Angeles  2023-01-07
3        C004         Eric Lee  San Francisco  2023-01-10
4        C005    George Miller        Seattle  2023-01-13

Products:

  product_id product_name     category    price
0       P001       Laptop  Electronics  1097.56
1       P002        Mouse  Electronics   457.12
2       P003     Keyboard  Electronics    85.26
3       P004      Monitor  Electronics   985.93
4       P005       Tablet  Electronics   306.81

Purchases:

  purchase_id customer_id product_id  quantity        purchase_date    store
0       T0001        C011       P042         1  2023-01-01 00:00:00  Store C
1       T0002        C070       P001         2  2023-01-01 04:00:00  Store A
2       T0003        C075       P029         1  2023-01-01 08:00:00  Store A
3       T0004        C053       P045         1  2023-01-01 12:00:00  Store C
4       T0005        C079       P049         3  2023-01-01 16:00:00  Store B

In [948]:
# TODO: Merge purchases with customers (left join)
# Keep all purchases, add customer information
purchase_customer = pd.merge(purchases, customers, on='customer_id', how='left')

display(purchase_customer.head(10))

,purchase_id,customer_id,product_id,quantity,purchase_date,store,name,city,signup_date
0,T0001,C011,P042,1,2023-01-01 00:00:00,Store C,Michael Rodriguez,Seattle,2023-01-31
1,T0002,C070,P001,2,2023-01-01 04:00:00,Store A,Eric Brown,Sacramento,2023-07-27
2,T0003,C075,P029,1,2023-01-01 08:00:00,Store A,Alice Wilson,Los Angeles,2023-08-11
3,T0004,C053,P045,1,2023-01-01 12:00:00,Store C,Diana Kim,Sacramento,2023-06-06
4,T0005,C079,P049,3,2023-01-01 16:00:00,Store B,Hannah Patel,Portland,2023-08-23
5,T0006,C010,P035,1,2023-01-01 20:00:00,Store C,Bob Jackson,Los Angeles,2023-01-28
6,T0007,C011,P040,3,2023-01-02 00:00:00,Store C,Michael Rodriguez,Seattle,2023-01-31
7,T0008,C092,P014,1,2023-01-02 04:00:00,Store C,Steve Garcia,Los Angeles,2023-10-01
8,T0009,C060,P035,1,2023-01-02 08:00:00,Store B,Alice Brown,Portland,2023-06-27
9,T0010,C030,P048,1,2023-01-02 12:00:00,Store B,Teresa Davis,Seattle,2023-03-29

In [949]:
# TODO: Merge the result with products to add product information
# Use left join to keep all purchases
full_data = pd.merge(purchase_customer, products, on='product_id', how='left')

display(full_data.head(10))

,purchase_id,customer_id,product_id,quantity,purchase_date,store,name,city,signup_date,product_name,category,price
0,T0001,C011,P042,1,2023-01-01 00:00:00,Store C,Michael Rodriguez,Seattle,2023-01-31,Dumbbells,Sports,402.17
1,T0002,C070,P001,2,2023-01-01 04:00:00,Store A,Eric Brown,Sacramento,2023-07-27,Laptop,Electronics,1097.56
2,T0003,C075,P029,1,2023-01-01 08:00:00,Store A,Alice Wilson,Los Angeles,2023-08-11,Candle,Home & Garden,162.72
3,T0004,C053,P045,1,2023-01-01 12:00:00,Store C,Diana Kim,Sacramento,2023-06-06,Running Shoes,Sports,400.96
4,T0005,C079,P049,3,2023-01-01 16:00:00,Store B,Hannah Patel,Portland,2023-08-23,Bicycle,Sports,60.58
5,T0006,C010,P035,1,2023-01-01 20:00:00,Store C,Bob Jackson,Los Angeles,2023-01-28,Magazine,Books,21.74
6,T0007,C011,P040,3,2023-01-02 00:00:00,Store C,Michael Rodriguez,Seattle,2023-01-31,Reference Book,Books,30.45
7,T0008,C092,P014,1,2023-01-02 04:00:00,Store C,Steve Garcia,Los Angeles,2023-10-01,Jacket,Clothing,145.27
8,T0009,C060,P035,1,2023-01-02 08:00:00,Store B,Alice Brown,Portland,2023-06-27,Magazine,Books,21.74
9,T0010,C030,P048,1,2023-01-02 12:00:00,Store B,Teresa Davis,Seattle,2023-03-29,Jump Rope,Sports,197.16

In [950]:
# TODO: Calculate total_price for each purchase
# Multiply quantity by price to get the total cost
# Round to 2 decimal places
# Hint: full_data['total_price'] = (full_data['quantity'] * full_data['price']).round(2)

full_data['total_price'] = (full_data['quantity'] * full_data['price']).round(2)

display(full_data.head(10))

,purchase_id,customer_id,product_id,quantity,purchase_date,store,name,city,signup_date,product_name,category,price,total_price
0,T0001,C011,P042,1,2023-01-01 00:00:00,Store C,Michael Rodriguez,Seattle,2023-01-31,Dumbbells,Sports,402.17,402.17
1,T0002,C070,P001,2,2023-01-01 04:00:00,Store A,Eric Brown,Sacramento,2023-07-27,Laptop,Electronics,1097.56,2195.12
2,T0003,C075,P029,1,2023-01-01 08:00:00,Store A,Alice Wilson,Los Angeles,2023-08-11,Candle,Home & Garden,162.72,162.72
3,T0004,C053,P045,1,2023-01-01 12:00:00,Store C,Diana Kim,Sacramento,2023-06-06,Running Shoes,Sports,400.96,400.96
4,T0005,C079,P049,3,2023-01-01 16:00:00,Store B,Hannah Patel,Portland,2023-08-23,Bicycle,Sports,60.58,181.74
5,T0006,C010,P035,1,2023-01-01 20:00:00,Store C,Bob Jackson,Los Angeles,2023-01-28,Magazine,Books,21.74,21.74
6,T0007,C011,P040,3,2023-01-02 00:00:00,Store C,Michael Rodriguez,Seattle,2023-01-31,Reference Book,Books,30.45,91.35
7,T0008,C092,P014,1,2023-01-02 04:00:00,Store C,Steve Garcia,Los Angeles,2023-10-01,Jacket,Clothing,145.27,145.27
8,T0009,C060,P035,1,2023-01-02 08:00:00,Store B,Alice Brown,Portland,2023-06-27,Magazine,Books,21.74,21.74
9,T0010,C030,P048,1,2023-01-02 12:00:00,Store B,Teresa Davis,Seattle,2023-03-29,Jump Rope,Sports,197.16,197.16

### Part B: Join Type Analysis

Compare different join types to understand data relationships.

In [951]:
# TODO: Inner join - only customers who made purchases
inner_result = pd.merge(purchases, customers, on='customer_id', how='inner')

print(f"Inner join result: {len(inner_result)} rows")
display(inner_result.head())

Inner join result: 2000 rows

,purchase_id,customer_id,product_id,quantity,purchase_date,store,name,city,signup_date
0,T0001,C011,P042,1,2023-01-01 00:00:00,Store C,Michael Rodriguez,Seattle,2023-01-31
1,T0002,C070,P001,2,2023-01-01 04:00:00,Store A,Eric Brown,Sacramento,2023-07-27
2,T0003,C075,P029,1,2023-01-01 08:00:00,Store A,Alice Wilson,Los Angeles,2023-08-11
3,T0004,C053,P045,1,2023-01-01 12:00:00,Store C,Diana Kim,Sacramento,2023-06-06
4,T0005,C079,P049,3,2023-01-01 16:00:00,Store B,Hannah Patel,Portland,2023-08-23

In [952]:
# TODO: Left join - all customers (including those with no purchases)
left_result = pd.merge(customers, purchases, on='customer_id', how='left')

print(f"Left join result: {len(left_result)} rows")
display(left_result.head())

Left join result: 2001 rows

,customer_id,name,city,signup_date,purchase_id,product_id,quantity,purchase_date,store
0,C001,George Chen,Portland,2023-01-01,NaN,NaN,NaN,NaN,NaN
1,C002,Teresa Miller,Sacramento,2023-01-04,T0537,P010,1.0,2023-03-31 08:00:00,Store B
2,C002,Teresa Miller,Sacramento,2023-01-04,T1142,P014,1.0,2023-07-10 04:00:00,Store B
3,C002,Teresa Miller,Sacramento,2023-01-04,T1199,P024,3.0,2023-07-19 16:00:00,Store A
4,C002,Teresa Miller,Sacramento,2023-01-04,T1617,P035,4.0,2023-09-27 08:00:00,Store C

In [953]:
#Right join - all purchases (including those with no customer info)
right_result = pd.merge(customers, purchases, on='customer_id', how='right')

print(f"Right join result: {len(right_result)} rows")
display(right_result.head())

Right join result: 2000 rows

,customer_id,name,city,signup_date,purchase_id,product_id,quantity,purchase_date,store
0,C011,Michael Rodriguez,Seattle,2023-01-31,T0001,P042,1,2023-01-01 00:00:00,Store C
1,C070,Eric Brown,Sacramento,2023-07-27,T0002,P001,2,2023-01-01 04:00:00,Store A
2,C075,Alice Wilson,Los Angeles,2023-08-11,T0003,P029,1,2023-01-01 08:00:00,Store A
3,C053,Diana Kim,Sacramento,2023-06-06,T0004,P045,1,2023-01-01 12:00:00,Store C
4,C079,Hannah Patel,Portland,2023-08-23,T0005,P049,3,2023-01-01 16:00:00,Store B

In [954]:
#Outer join - all purchases (including those with no customer info)
outer_result = pd.merge(customers, purchases, on='customer_id', how='outer')

print(f"Outer join result: {len(outer_result)} rows")
display(outer_result.head())

Outer join result: 2001 rows

,customer_id,name,city,signup_date,purchase_id,product_id,quantity,purchase_date,store
0,C001,George Chen,Portland,2023-01-01,NaN,NaN,NaN,NaN,NaN
1,C002,Teresa Miller,Sacramento,2023-01-04,T0537,P010,1.0,2023-03-31 08:00:00,Store B
2,C002,Teresa Miller,Sacramento,2023-01-04,T1142,P014,1.0,2023-07-10 04:00:00,Store B
3,C002,Teresa Miller,Sacramento,2023-01-04,T1199,P024,3.0,2023-07-19 16:00:00,Store A
4,C002,Teresa Miller,Sacramento,2023-01-04,T1617,P035,4.0,2023-09-27 08:00:00,Store C

In [955]:
# TODO: Find customers who haven't made any purchases
# Hint: Use left join result and check where purchase_id is NaN
# Use .isna() to find NaN values: left_result[left_result['purchase_id'].isna()]

customers_no_purchases = left_result[left_result['purchase_id'].isna()]
print(customers_no_purchases[['customer_id', 'name']])

  customer_id         name
0        C001  George Chen

### Part C: Multi-Column Merge

Merge on multiple columns when single columns aren't unique enough.

In [956]:
# Create store-specific product pricing
# (Different stores may have different prices for same product)
store_pricing = pd.DataFrame({
    'product_id': ['P001', 'P001', 'P002', 'P002', 'P003', 'P003'],
    'store': ['Store A', 'Store B', 'Store A', 'Store B', 'Store A', 'Store B'],
    'discount_pct': [5, 10, 8, 5, 0, 15]
})

# TODO: Merge purchases with store_pricing on BOTH product_id AND store
# Hint: Use on=['product_id', 'store']
purchases_with_discount = pd.merge(full_data, store_pricing, on=['product_id', 'store'], how='left')

display(purchases_with_discount.head(10))

,purchase_id,customer_id,product_id,quantity,purchase_date,store,name,city,signup_date,product_name,category,price,total_price,discount_pct
0,T0001,C011,P042,1,2023-01-01 00:00:00,Store C,Michael Rodriguez,Seattle,2023-01-31,Dumbbells,Sports,402.17,402.17,NaN
1,T0002,C070,P001,2,2023-01-01 04:00:00,Store A,Eric Brown,Sacramento,2023-07-27,Laptop,Electronics,1097.56,2195.12,5.0
2,T0003,C075,P029,1,2023-01-01 08:00:00,Store A,Alice Wilson,Los Angeles,2023-08-11,Candle,Home & Garden,162.72,162.72,NaN
3,T0004,C053,P045,1,2023-01-01 12:00:00,Store C,Diana Kim,Sacramento,2023-06-06,Running Shoes,Sports,400.96,400.96,NaN
4,T0005,C079,P049,3,2023-01-01 16:00:00,Store B,Hannah Patel,Portland,2023-08-23,Bicycle,Sports,60.58,181.74,NaN
5,T0006,C010,P035,1,2023-01-01 20:00:00,Store C,Bob Jackson,Los Angeles,2023-01-28,Magazine,Books,21.74,21.74,NaN
6,T0007,C011,P040,3,2023-01-02 00:00:00,Store C,Michael Rodriguez,Seattle,2023-01-31,Reference Book,Books,30.45,91.35,NaN
7,T0008,C092,P014,1,2023-01-02 04:00:00,Store C,Steve Garcia,Los Angeles,2023-10-01,Jacket,Clothing,145.27,145.27,NaN
8,T0009,C060,P035,1,2023-01-02 08:00:00,Store B,Alice Brown,Portland,2023-06-27,Magazine,Books,21.74,21.74,NaN
9,T0010,C030,P048,1,2023-01-02 12:00:00,Store B,Teresa Davis,Seattle,2023-03-29,Jump Rope,Sports,197.16,197.16,NaN

### Part D: Save Results

In [957]:
# Create output directory
os.makedirs('output', exist_ok=True)

# TODO: Save full_data to output/q1_merged_data.csv
# Hint: Use .to_csv() with index=False

# Save merged output
purchases_with_discount.to_csv('output/q1_merged_data.csv', index=False)

print("✓ Saved output/q1_merged_data.csv")

✓ Saved output/q1_merged_data.csv

In [958]:
# Create a validation report
validation_report = f"""
Question 1 Validation Report
============================

Dataset Sizes:
  - Customers: {len(customers)} rows
  - Products: {len(products)} rows
  - Purchases: {len(purchases)} rows

Merge Results:
  - Full merged data: {len(full_data)} rows
  - Inner join: {len(inner_result)} rows
  - Left join: {len(left_result)} rows
  - Customers with no purchases: {len(purchases_with_discount)}

Data Quality:
  - Missing customer names: {full_data['name'].isna().sum()}
  - Missing product names: {full_data['product_name'].isna().sum()}
"""

# TODO: Save validation_report to output/q1_validation.txt
# Hint: Use open() with 'w' mode

# Create validation report
validation_report = f"Inner: {len(inner_result)}, Left: {len(left_result)}, Right: {len(right_result)}, Outer: {len(outer_result)}"
with open('output/q1_validation.txt', 'w') as f:
    f.write(validation_report)
    
print("✓ Saved output/q1_validation.txt")

✓ Saved output/q1_validation.txt

---

## Question 2: Concatenating DataFrames

### Part A: Vertical Concatenation

Combine multiple DataFrames by stacking rows.

In [959]:
# Split purchases into quarterly datasets
q1_purchases = purchases[purchases['purchase_date'] < '2023-04-01']
q2_purchases = purchases[(purchases['purchase_date'] >= '2023-04-01') &
                          (purchases['purchase_date'] < '2023-07-01')]
q3_purchases = purchases[(purchases['purchase_date'] >= '2023-07-01') &
                          (purchases['purchase_date'] < '2023-10-01')]
q4_purchases = purchases[purchases['purchase_date'] >= '2023-10-01']

print(f"Q1: {len(q1_purchases)} purchases")
print(f"Q2: {len(q2_purchases)} purchases")
print(f"Q3: {len(q3_purchases)} purchases")
print(f"Q4: {len(q4_purchases)} purchases")

Q1: 540 purchases
Q2: 546 purchases
Q3: 552 purchases
Q4: 362 purchases

In [960]:
# TODO: Concatenate all quarters back together
# Use ignore_index=True for clean sequential indexing
# Hint: pd.concat([df1, df2, df3, df4], ignore_index=True)
all_purchases = pd.concat([q1_purchases, q2_purchases, q3_purchases, q4_purchases], ignore_index=True)

print(f"Total after concat: {len(all_purchases)} purchases")
display(all_purchases.head())
print(f"\nVerify total rows: {len(q1_purchases)} + {len(q2_purchases)} + {len(q3_purchases)} + {len(q4_purchases)} = {len(all_purchases)}")

Total after concat: 2000 purchases

  purchase_id customer_id product_id  quantity        purchase_date    store
0       T0001        C011       P042         1  2023-01-01 00:00:00  Store C
1       T0002        C070       P001         2  2023-01-01 04:00:00  Store A
2       T0003        C075       P029         1  2023-01-01 08:00:00  Store A
3       T0004        C053       P045         1  2023-01-01 12:00:00  Store C
4       T0005        C079       P049         3  2023-01-01 16:00:00  Store B

Verify total rows: 540 + 546 + 552 + 362 = 2000

### Part B: Horizontal Concatenation

Add related information as new columns.

In [961]:
# Create customer satisfaction scores (subset of customers)
satisfaction = pd.DataFrame({
    'customer_id': customers['customer_id'].sample(50, random_state=42),
    'satisfaction_score': np.random.randint(1, 11, size=50),
    'survey_date': pd.date_range('2023-12-01', periods=50, freq='D')
})

# Create customer loyalty tier (different subset)
loyalty = pd.DataFrame({
    'customer_id': customers['customer_id'].sample(60, random_state=123),
    'tier': np.random.choice(['Bronze', 'Silver', 'Gold', 'Platinum'], size=60),
    'points': np.random.randint(100, 10000, size=60)
})

# Set customer_id as index for both
satisfaction = satisfaction.set_index('customer_id')
loyalty = loyalty.set_index('customer_id')

print("Satisfaction scores:")
display(satisfaction.head())
print("\nLoyalty tiers:")
display(loyalty.head())

Satisfaction scores:

             satisfaction_score survey_date
customer_id
C084                          3  2023-12-01
C054                          4  2023-12-02
C071                          6  2023-12-03
C046                         10  2023-12-04
C045                          2  2023-12-05

Loyalty tiers:

                 tier  points
customer_id
C009             Gold    6987
C071             Gold    6923
C083           Bronze    7492
C029             Gold    9510
C064         Platinum    9840

In [962]:
# TODO: Horizontal concat to combine satisfaction and loyalty
# Use outer join to keep all customers from both datasets
# Hint: pd.concat([df1, df2], axis=1, join='outer')
customer_metrics = pd.concat(
    [satisfaction, loyalty],
    axis=1,
    join='outer'  # Keep all customers from both datasets
)

print(f"\nCombined customer metrics shape: {customer_metrics.shape}")
print("First 5 rows:")
print(customer_metrics.head())

Combined customer metrics shape: (80, 4)
First 5 rows:
             satisfaction_score survey_date      tier  points
customer_id
C084                        3.0  2023-12-01       NaN     NaN
C054                        4.0  2023-12-02  Platinum  8204.0
C071                        6.0  2023-12-03      Gold  6923.0
C046                       10.0  2023-12-04    Bronze  4616.0
C045                        2.0  2023-12-05  Platinum  9288.0

In [963]:
# Handle misaligned indexes - how many NaN values?

# Handle misaligned indexes and NaN values
customer_metrics = customer_metrics.fillna(0)  # or use appropriate fill value

print(f"Missing satisfaction scores: {customer_metrics['satisfaction_score'].isna().sum()}")
print(f"Missing loyalty tiers: {customer_metrics['tier'].isna().sum()}")

Missing satisfaction scores: 0
Missing loyalty tiers: 0

In [964]:
# TODO: Save customer_metrics to output/q2_combined_data.csv
# Hint: Use .to_csv() - index will be saved automatically
customer_metrics = customer_metrics.reset_index()
customer_metrics.to_csv('output/q2_combined_data.csv', index=False)

print("✓ Saved output/q2_combined_data.csv")

✓ Saved output/q2_combined_data.csv

---

## Question 3: Reshaping and Analysis

### Part A: Pivot Table Analysis

Transform data to analyze patterns.

In [965]:
# TODO: Load the merged data from Question 1
# This already has purchases merged with customers and products (and total_price calculated)
# Hint: pd.read_csv('output/q1_merged_data.csv')
print("\n--- Loading Merged Data ---")

# Load the merged data we created in Q1
analysis_data = pd.read_csv('output/q1_merged_data.csv')
print(f"Loaded data shape: {analysis_data.shape}")
print("First 3 rows:")
print(analysis_data.head(3))

--- Loading Merged Data ---
Loaded data shape: (2000, 14)
First 3 rows:
  purchase_id customer_id product_id  quantity        purchase_date    store  \
0       T0001        C011       P042         1  2023-01-01 00:00:00  Store C
1       T0002        C070       P001         2  2023-01-01 04:00:00  Store A
2       T0003        C075       P029         1  2023-01-01 08:00:00  Store A

                name         city signup_date product_name       category  \
0  Michael Rodriguez      Seattle  2023-01-31    Dumbbells         Sports
1         Eric Brown   Sacramento  2023-07-27       Laptop    Electronics
2       Alice Wilson  Los Angeles  2023-08-11       Candle  Home & Garden

     price  total_price  discount_pct
0   402.17       402.17           NaN
1  1097.56      2195.12           5.0
2   162.72       162.72           NaN

In [966]:
# Add month column for time-based grouping
# ----------------------------------------

print("\n--- Adding Month Column ---")

# Convert purchase_date to datetime
analysis_data['purchase_date'] = pd.to_datetime(analysis_data['purchase_date'])

# Extract month name
analysis_data['month'] = analysis_data['purchase_date'].dt.month_name()

# Also add month number for sorting
analysis_data['month_num'] = analysis_data['purchase_date'].dt.month

print("Months in data:")
print(analysis_data['month'].value_counts().sort_index())

print("\nSample rows with month:")
print(analysis_data[['purchase_id', 'purchase_date', 'month', 'category', 'total_price']].head())

--- Adding Month Column ---
Months in data:
month
April        180
August       186
February     168
January      186
July         186
June         180
March        186
May          186
November     176
October      186
September    180
Name: count, dtype: int64

Sample rows with month:
  purchase_id       purchase_date    month       category  total_price
0       T0001 2023-01-01 00:00:00  January         Sports       402.17
1       T0002 2023-01-01 04:00:00  January    Electronics      2195.12
2       T0003 2023-01-01 08:00:00  January  Home & Garden       162.72
3       T0004 2023-01-01 12:00:00  January         Sports       400.96
4       T0005 2023-01-01 16:00:00  January         Sports       181.74

In [967]:
# TODO: Create pivot table - sales by category and month
# Use pivot_table to handle duplicate entries (aggregate with sum)
# Hint: pd.pivot_table(df, values='total_price', index='month', columns='category', aggfunc='sum')

# ----------------------------------------
# Create pivot table (sales by category and month)
# ----------------------------------------

print("\n--- Creating Pivot Table (Wide Format) ---")

# Create pivot table: rows=category, columns=month, values=sum of total_price
category_sales_pivot = pd.pivot_table(
    analysis_data,
    values='total_price',
    index='category',
    columns='month',
    aggfunc='sum',
    fill_value=0
)

print("Pivot table shape:", category_sales_pivot.shape)
print("\nCategory sales by month:")
print(category_sales_pivot)

# Sort columns by month order
month_order = ['January', 'February', 'March', 'April', 'May', 'June',
               'July', 'August', 'September', 'October', 'November', 'December']

# Get only the months that exist in our data
existing_months = [m for m in month_order if m in category_sales_pivot.columns]
category_sales_pivot = category_sales_pivot[existing_months]

print("\nPivot table with sorted months:")
print(category_sales_pivot)

# Add total column
category_sales_pivot['Total'] = category_sales_pivot.sum(axis=1)

print("\nWith total column:")
print(category_sales_pivot)

--- Creating Pivot Table (Wide Format) ---
Pivot table shape: (5, 11)

Category sales by month:
month             April    August  February   January      July      June  \
category
Books           2628.37   2614.03   2311.67   2780.36   1905.62   2616.71
Clothing        6371.61   5875.96   7236.13   6512.46   6636.07   5103.35
Electronics    43720.79  39960.77  56340.97  42889.88  68428.60  67951.56
Home & Garden  11304.66  14272.98   9535.97   9442.48  13898.04  11604.87
Sports         17711.10  21717.36  20441.05  24394.96  10097.13  16156.68

month             March       May  November   October  September
category
Books           2828.88   2246.64   2589.70   2240.53    2162.12
Clothing        7368.45   6398.13   7569.15   7953.12    8016.28
Electronics    58519.75  49026.15  23746.62  36672.70   44362.79
Home & Garden  15252.15  16001.21  14920.38  15580.44   12473.02
Sports         11629.01  23634.81  21651.94  16054.80   20888.18

Pivot table with sorted months:
month           January  February     March     April       May      June  \
category
Books           2780.36   2311.67   2828.88   2628.37   2246.64   2616.71
Clothing        6512.46   7236.13   7368.45   6371.61   6398.13   5103.35
Electronics    42889.88  56340.97  58519.75  43720.79  49026.15  67951.56
Home & Garden   9442.48   9535.97  15252.15  11304.66  16001.21  11604.87
Sports         24394.96  20441.05  11629.01  17711.10  23634.81  16156.68

month              July    August  September   October  November
category
Books           1905.62   2614.03    2162.12   2240.53   2589.70
Clothing        6636.07   5875.96    8016.28   7953.12   7569.15
Electronics    68428.60  39960.77   44362.79  36672.70  23746.62
Home & Garden  13898.04  14272.98   12473.02  15580.44  14920.38
Sports         10097.13  21717.36   20888.18  16054.80  21651.94

With total column:
month           January  February     March     April       May      June  \
category
Books           2780.36   2311.67   2828.88   2628.37   2246.64   2616.71
Clothing        6512.46   7236.13   7368.45   6371.61   6398.13   5103.35
Electronics    42889.88  56340.97  58519.75  43720.79  49026.15  67951.56
Home & Garden   9442.48   9535.97  15252.15  11304.66  16001.21  11604.87
Sports         24394.96  20441.05  11629.01  17711.10  23634.81  16156.68

month              July    August  September   October  November      Total
category
Books           1905.62   2614.03    2162.12   2240.53   2589.70   26924.63
Clothing        6636.07   5875.96    8016.28   7953.12   7569.15   75040.71
Electronics    68428.60  39960.77   44362.79  36672.70  23746.62  531620.58
Home & Garden  13898.04  14272.98   12473.02  15580.44  14920.38  144286.20
Sports         10097.13  21717.36   20888.18  16054.80  21651.94  204377.02

In [968]:
# TODO: Save sales_pivot to output/q3_category_sales_wide.csv
# Hint: Use .to_csv()
print("\n--- Saving Pivot Table ---")

# Reset index to make category a column
category_sales_wide = category_sales_pivot.reset_index()

# Save to CSV
category_sales_pivot.to_csv('output/q3_category_sales_wide.csv', index=True)
print("✓ Saved: output/q3_category_sales_wide.csv")
print(f"  Shape: {category_sales_wide.shape}")

--- Saving Pivot Table ---
✓ Saved: output/q3_category_sales_wide.csv
  Shape: (5, 13)

### Part B: Melt and Long Format

Convert wide format back to long for different analysis.

In [969]:
# Remove the Total column for melting

# Convert wide format back to long using melt
# ----------------------------------------

print("\n--- Converting to Long Format (Melt) ---")

# Remove the Total column for melting
category_sales_for_melt = category_sales_wide.drop('Total', axis=1)

# Melt from wide to long format
category_sales_long = pd.melt(
    category_sales_for_melt,
    id_vars=['category'],
    var_name='month',
    value_name='sales'
)

print(f"Long format shape: {category_sales_long.shape}")
print("\nFirst 10 rows of long format:")
print(category_sales_long.head(10))

# Verify we can recreate the pivot
print("\nVerification - recreate pivot from long format:")
verification_pivot = category_sales_long.pivot(
    index='category',
    columns='month',
    values='sales'
)
print(verification_pivot)

--- Converting to Long Format (Melt) ---
Long format shape: (55, 3)

First 10 rows of long format:
        category     month     sales
0          Books   January   2780.36
1       Clothing   January   6512.46
2    Electronics   January  42889.88
3  Home & Garden   January   9442.48
4         Sports   January  24394.96
5          Books  February   2311.67
6       Clothing  February   7236.13
7    Electronics  February  56340.97
8  Home & Garden  February   9535.97
9         Sports  February  20441.05

Verification - recreate pivot from long format:
month             April    August  February   January      July      June  \
category
Books           2628.37   2614.03   2311.67   2780.36   1905.62   2616.71
Clothing        6371.61   5875.96   7236.13   6512.46   6636.07   5103.35
Electronics    43720.79  39960.77  56340.97  42889.88  68428.60  67951.56
Home & Garden  11304.66  14272.98   9535.97   9442.48  13898.04  11604.87
Sports         17711.10  21717.36  20441.05  24394.96  10097.13  16156.68

month             March       May  November   October  September
category
Books           2828.88   2246.64   2589.70   2240.53    2162.12
Clothing        7368.45   6398.13   7569.15   7953.12    8016.28
Electronics    58519.75  49026.15  23746.62  36672.70   44362.79
Home & Garden  15252.15  16001.21  14920.38  15580.44   12473.02
Sports         11629.01  23634.81  21651.94  16054.80   20888.18

In [970]:
# TODO: Calculate summary statistics using the long format
# Group by category and calculate total sales, average monthly sales
# Hint: Use .groupby('category')['sales'].agg(['sum', 'mean']) and sort by sum descending

# ----------------------------------------
# Calculate summary statistics by category using groupby
# ----------------------------------------

print("\n--- Summary Statistics by Category ---")

# Group by category and calculate statistics
category_summary = analysis_data.groupby('category').agg({
    'total_price': ['sum', 'mean', 'count', 'min', 'max', 'std'],
    'quantity': 'sum',
    'purchase_id': 'count'
})

# Flatten column names
category_summary.columns = ['_'.join(col).strip() for col in category_summary.columns.values]
category_summary = category_summary.reset_index()

# Rename for clarity
category_summary.columns = ['category', 'total_sales', 'avg_sale', 'num_transactions', 
                            'min_sale', 'max_sale', 'std_sale', 'total_quantity', 
                            'transaction_count']

print("Category summary statistics:")
print(category_summary)

# Sort by total sales
category_summary_sorted = category_summary.sort_values('total_sales', ascending=False)
print("\nCategories sorted by total sales:")
print(category_summary_sorted)

--- Summary Statistics by Category ---
Category summary statistics:
        category  total_sales     avg_sale  num_transactions  min_sale  \
0          Books     26924.63    68.336624               394     21.74
1       Clothing     75040.71   184.829335               406     42.03
2    Electronics    531620.58  1429.087581               372     72.41
3  Home & Garden    144286.20   353.642647               408     42.70
4         Sports    204377.02   486.611952               420     60.58

   max_sale     std_sale  total_quantity  transaction_count
0    223.40    43.422657             733                394
1    726.35   136.904037             752                406
2   7068.30  1387.618367             702                372
3   1485.85   276.372113             774                408
4   2010.85   361.626562             743                420

Categories sorted by total sales:
        category  total_sales     avg_sale  num_transactions  min_sale  \
2    Electronics    531620.58  1429.087581               372     72.41
4         Sports    204377.02   486.611952               420     60.58
3  Home & Garden    144286.20   353.642647               408     42.70
1       Clothing     75040.71   184.829335               406     42.03
0          Books     26924.63    68.336624               394     21.74

   max_sale     std_sale  total_quantity  transaction_count
2   7068.30  1387.618367             702                372
4   2010.85   361.626562             743                420
3   1485.85   276.372113             774                408
1    726.35   136.904037             752                406
0    223.40    43.422657             733                394

In [971]:
# Create final analysis report
print("\n--- Creating Analysis Report ---")

# Prepare analysis report
report = []
report.append("=" * 70)
report.append("QUESTION 3: CATEGORY SALES ANALYSIS REPORT")
report.append("=" * 70)
report.append(f"\nGenerated: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")

report.append("\n" + "=" * 70)
report.append("1. OVERALL SALES SUMMARY")
report.append("=" * 70)
report.append(f"Total Revenue: ${analysis_data['total_price'].sum():,.2f}")
report.append(f"Total Transactions: {analysis_data.shape[0]:,}")
report.append(f"Average Transaction: ${analysis_data['total_price'].mean():,.2f}")
report.append(f"Total Items Sold: {analysis_data['quantity'].sum():,}")

report.append("\n" + "=" * 70)
report.append("2. SALES BY CATEGORY")
report.append("=" * 70)

for idx, row in category_summary_sorted.iterrows():
    report.append(f"\n{row['category']}:")
    report.append(f"  Total Sales: ${row['total_sales']:,.2f}")
    report.append(f"  Number of Transactions: {int(row['num_transactions']):,}")
    report.append(f"  Average Sale: ${row['avg_sale']:,.2f}")
    report.append(f"  Total Quantity Sold: {int(row['total_quantity']):,}")
    report.append(f"  Min Sale: ${row['min_sale']:,.2f}")
    report.append(f"  Max Sale: ${row['max_sale']:,.2f}")
    report.append(f"  Std Dev: ${row['std_sale']:,.2f}")

report.append("\n" + "=" * 70)
report.append("3. TOP PERFORMING CATEGORY")
report.append("=" * 70)
top_category = category_summary_sorted.iloc[0]
report.append(f"Category: {top_category['category']}")
report.append(f"Total Sales: ${top_category['total_sales']:,.2f}")
report.append(f"Market Share: {(top_category['total_sales'] / analysis_data['total_price'].sum() * 100):.2f}%")
report.append(f"Transactions: {int(top_category['num_transactions']):,}")

report.append("\n" + "=" * 70)
report.append("4. BOTTOM PERFORMING CATEGORY")
report.append("=" * 70)
bottom_category = category_summary_sorted.iloc[-1]
report.append(f"Category: {bottom_category['category']}")
report.append(f"Total Sales: ${bottom_category['total_sales']:,.2f}")
report.append(f"Market Share: {(bottom_category['total_sales'] / analysis_data['total_price'].sum() * 100):.2f}%")
report.append(f"Transactions: {int(bottom_category['num_transactions']):,}")

report.append("\n" + "=" * 70)
report.append("5. MONTHLY SALES BREAKDOWN")
report.append("=" * 70)

# Monthly summary
monthly_sales = analysis_data.groupby('month')['total_price'].agg(['sum', 'count', 'mean'])
monthly_sales = monthly_sales.reset_index()
monthly_sales.columns = ['month', 'total_sales', 'num_transactions', 'avg_transaction']

for idx, row in monthly_sales.iterrows():
    report.append(f"\n{row['month']}:")
    report.append(f"  Total Sales: ${row['total_sales']:,.2f}")
    report.append(f"  Transactions: {int(row['num_transactions']):,}")
    report.append(f"  Average Transaction: ${row['avg_transaction']:,.2f}")

report.append("\n" + "=" * 70)
report.append("6. CATEGORY RANKINGS")
report.append("=" * 70)
report.append("\nBy Total Sales:")
for rank, (idx, row) in enumerate(category_summary_sorted.iterrows(), 1):
    report.append(f"  {rank}. {row['category']}: ${row['total_sales']:,.2f}")

report.append("\nBy Average Transaction Size:")
avg_sorted = category_summary.sort_values('avg_sale', ascending=False)
for rank, (idx, row) in enumerate(avg_sorted.iterrows(), 1):
    report.append(f"  {rank}. {row['category']}: ${row['avg_sale']:,.2f}")

report.append("\nBy Number of Transactions:")
trans_sorted = category_summary.sort_values('num_transactions', ascending=False)
for rank, (idx, row) in enumerate(trans_sorted.iterrows(), 1):
    report.append(f"  {rank}. {row['category']}: {int(row['num_transactions']):,} transactions")

report.append("\n" + "=" * 70)
report.append("END OF REPORT")
report.append("=" * 70)

# Print report to console
print("\n".join(report))

# ----------------------------------------
# Save analysis report
# ----------------------------------------

print("\n--- Saving Analysis Report ---")

# Save report to text file
with open('output/q3_analysis_report.txt', 'w') as f:
    f.write("\n".join(report))

print("✓ Saved: output/q3_analysis_report.txt")

print("\n" + "=" * 80)
print("QUESTION 3 COMPLETE!")
print("=" * 80)

# ============================================================================
# FINAL SUMMARY
# ============================================================================

print("\n" + "=" * 80)
print("ASSIGNMENT 6 COMPLETE!")
print("=" * 80)

print("\n✓ All required outputs created:")
print("  1. output/q1_merged_data.csv - Merged customer/product/purchase data")
print("  2. output/q1_validation.txt - Merge validation report")
print("  3. output/q2_combined_data.csv - Concatenated data with metrics")
print("  4. output/q3_category_sales_wide.csv - Pivoted category sales")
print("  5. output/q3_analysis_report.txt - Sales analysis report")

print("\n" + "=" * 80)
print("SUMMARY OF OPERATIONS")
print("=" * 80)
print("\nQuestion 1: Merging DataFrames")
print("  ✓ Loaded customer, product, and purchase datasets")
print("  ✓ Performed left joins to merge data")
print("  ✓ Calculated total_price (quantity × price)")
print("  ✓ Compared join types (inner, left, right, outer)")
print("  ✓ Created validation report")

print("\nQuestion 2: Concatenation & Index Management")
print("  ✓ Split purchases into quarterly datasets")
print("  ✓ Concatenated vertically with ignore_index=True")
print("  ✓ Created customer satisfaction and loyalty datasets")
print("  ✓ Performed horizontal concatenation")
print("  ✓ Handled misaligned indexes and NaN values")

print("\nQuestion 3: Reshaping & Analysis")
print("  ✓ Added month column for time-based grouping")
print("  ✓ Created pivot table (wide format)")
print("  ✓ Converted to long format using melt")
print("  ✓ Calculated summary statistics with groupby")
print("  ✓ Generated comprehensive analysis report")

print("\n" + "=" * 80)
print("Ready for submission!")
print("=" * 80)

--- Creating Analysis Report ---
======================================================================
QUESTION 3: CATEGORY SALES ANALYSIS REPORT
======================================================================

Generated: 2025-11-06 07:36:22

======================================================================
1. OVERALL SALES SUMMARY
======================================================================
Total Revenue: $982,249.14
Total Transactions: 2,000
Average Transaction: $491.12
Total Items Sold: 3,704

======================================================================
2. SALES BY CATEGORY
======================================================================

Electronics:
  Total Sales: $531,620.58
  Number of Transactions: 372
  Average Sale: $1,429.09
  Total Quantity Sold: 702
  Min Sale: $72.41
  Max Sale: $7,068.30
  Std Dev: $1,387.62

Sports:
  Total Sales: $204,377.02
  Number of Transactions: 420
  Average Sale: $486.61
  Total Quantity Sold: 743
  Min Sale: $60.58
  Max Sale: $2,010.85
  Std Dev: $361.63

Home & Garden:
  Total Sales: $144,286.20
  Number of Transactions: 408
  Average Sale: $353.64
  Total Quantity Sold: 774
  Min Sale: $42.70
  Max Sale: $1,485.85
  Std Dev: $276.37

Clothing:
  Total Sales: $75,040.71
  Number of Transactions: 406
  Average Sale: $184.83
  Total Quantity Sold: 752
  Min Sale: $42.03
  Max Sale: $726.35
  Std Dev: $136.90

Books:
  Total Sales: $26,924.63
  Number of Transactions: 394
  Average Sale: $68.34
  Total Quantity Sold: 733
  Min Sale: $21.74
  Max Sale: $223.40
  Std Dev: $43.42

======================================================================
3. TOP PERFORMING CATEGORY
======================================================================
Category: Electronics
Total Sales: $531,620.58
Market Share: 54.12%
Transactions: 372

======================================================================
4. BOTTOM PERFORMING CATEGORY
======================================================================
Category: Books
Total Sales: $26,924.63
Market Share: 2.74%
Transactions: 394

======================================================================
5. MONTHLY SALES BREAKDOWN
======================================================================

April:
  Total Sales: $81,736.53
  Transactions: 180
  Average Transaction: $454.09

August:
  Total Sales: $84,441.10
  Transactions: 186
  Average Transaction: $453.98

February:
  Total Sales: $95,865.79
  Transactions: 168
  Average Transaction: $570.63

January:
  Total Sales: $86,020.14
  Transactions: 186
  Average Transaction: $462.47

July:
  Total Sales: $100,965.46
  Transactions: 186
  Average Transaction: $542.83

June:
  Total Sales: $103,433.17
  Transactions: 180
  Average Transaction: $574.63

March:
  Total Sales: $95,598.24
  Transactions: 186
  Average Transaction: $513.97

May:
  Total Sales: $97,306.94
  Transactions: 186
  Average Transaction: $523.16

November:
  Total Sales: $70,477.79
  Transactions: 176
  Average Transaction: $400.44

October:
  Total Sales: $78,501.59
  Transactions: 186
  Average Transaction: $422.05

September:
  Total Sales: $87,902.39
  Transactions: 180
  Average Transaction: $488.35

======================================================================
6. CATEGORY RANKINGS
======================================================================

By Total Sales:
  1. Electronics: $531,620.58
  2. Sports: $204,377.02
  3. Home & Garden: $144,286.20
  4. Clothing: $75,040.71
  5. Books: $26,924.63

By Average Transaction Size:
  1. Electronics: $1,429.09
  2. Sports: $486.61
  3. Home & Garden: $353.64
  4. Clothing: $184.83
  5. Books: $68.34

By Number of Transactions:
  1. Sports: 420 transactions
  2. Home & Garden: 408 transactions
  3. Clothing: 406 transactions
  4. Books: 394 transactions
  5. Electronics: 372 transactions

======================================================================
END OF REPORT
======================================================================

--- Saving Analysis Report ---
✓ Saved: output/q3_analysis_report.txt

================================================================================
QUESTION 3 COMPLETE!
================================================================================

================================================================================
ASSIGNMENT 6 COMPLETE!
================================================================================

✓ All required outputs created:
  1. output/q1_merged_data.csv - Merged customer/product/purchase data
  2. output/q1_validation.txt - Merge validation report
  3. output/q2_combined_data.csv - Concatenated data with metrics
  4. output/q3_category_sales_wide.csv - Pivoted category sales
  5. output/q3_analysis_report.txt - Sales analysis report

================================================================================
SUMMARY OF OPERATIONS
================================================================================

Question 1: Merging DataFrames
  ✓ Loaded customer, product, and purchase datasets
  ✓ Performed left joins to merge data
  ✓ Calculated total_price (quantity × price)
  ✓ Compared join types (inner, left, right, outer)
  ✓ Created validation report

Question 2: Concatenation & Index Management
  ✓ Split purchases into quarterly datasets
  ✓ Concatenated vertically with ignore_index=True
  ✓ Created customer satisfaction and loyalty datasets
  ✓ Performed horizontal concatenation
  ✓ Handled misaligned indexes and NaN values

Question 3: Reshaping & Analysis
  ✓ Added month column for time-based grouping
  ✓ Created pivot table (wide format)
  ✓ Converted to long format using melt
  ✓ Calculated summary statistics with groupby
  ✓ Generated comprehensive analysis report

================================================================================
Ready for submission!
================================================================================